---
import { queryAllPosts } from "@features/blog/queries/queryAllPosts";
import type { Post } from "src/generated/graphql";
import { sanityClient } from "@helpers/sanityClient";
import PortableText from "@components/PortableText.astro";
import { Layout } from "@features/layout/Layout";
import Image from "astro/components/Image.astro";
import { getDateFR } from "@helpers/getDateFR";
import "@styles/blog.css";
import config from "src/config";

export async function getStaticPaths() {
  const sanityPosts = await sanityClient.fetch<Post[]>(queryAllPosts);

  return sanityPosts?.map((post) => {
    const param = {
      params: {
        slug: post?.slug,
      },
      props: {
        post,
      },
    };
    return param;
  });
}

interface Props {
  post: any;
}

const { post } = Astro.props;

const image = `${post?.mainImageUrl}?auto=format&max-w=650`;
const canonical = `${config.url}/article/${post.slug.current}`;
---

<Layout
  canonical={canonical}
  title={post.seoTitle ?? ""}
  description={post.seoDescription ?? ""}
  image={image}
>
  <div class="post-container">
    <h1>
      {post.title}
    </h1>

    <p class="summary">{post.summary}</p>

    {
      post?.mainImageUrl && (
        <Image
          loading="eager"
          inferSize
          alt={post.title ?? ""}
          src={image}
          class="post-image"
        />
      )
    }

    <p>
      <span class="author">Johan Allard</span> • <date class="date"
        >{getDateFR(post._createdAt)}</date
      >
    </p>

    <PortableText portableText={post.body} />
  </div>

  <style is:global>
    strong {
      font-weight: bold;
      color: var(--blue-800);
    }
    .post-image {
      margin: 48px 0;
      border-radius: 40px;

      @media screen and (max-width: 980px) {
        margin: 24px 0;
        border-radius: 20px;
      }
    }

    .summary {
      font-size: 24px;
      line-height: 1.5;
      margin: 40px 0 0 0;

      @media screen and (max-width: 980px) {
        font-size: 20px;
        line-height: 1.5;
        margin: 24px 0;
      }
    }

    .author {
      color: var(--blue-500);
    }

    .blockHighlight {
      color: var(--blue-500);
      font-size: 24px;
      font-weight: 800;
      line-height: 1.5;
      position: relative;
      padding: 0 8px 0 32px;
      margin: 40px 0;

      @media screen and (max-width: 980px) {
        margin: 32px 0;
        line-height: 1.4;
      }

      .guillemet {
        position: absolute;
        top: -6px;
        left: 0;
        font-size: 1.5em;
        color: var(--blue-800);
        font-family: var(--font-heading);
        font-weight: 800;
      }
    }
  </style>
</Layout>
